@page
@model WatterLogger.Pages.UpdateModel
@{
}
<h2>Update Record</h2>

<div class="row">
	<div class=" col-md-4">
		<form method="post">
			<input type="hidden" asp-for="DrinkingWater.Id" />
			<div class="form-group">
				<label asp-for="DrinkingWater.Date" class="control-label"></label>
				<input type="date" asp-for="DrinkingWater.Date" class="form-control" value="@Model.DrinkingWater.Date.ToString("yyyy-MM-dd")" />
				<span asp-validation-for="DrinkingWater.Date" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="DrinkingWater.Type" class="control-label"></label>
				<select asp-for="DrinkingWater.Type" class="form-control"
						asp-items="Html.GetEnumSelectList<WatterLogger.Enums.TypesEnum>()">
					<option value="">-- Select Type --</option>
				</select>

				<span asp-validation-for="DrinkingWater.Type" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Update" class="btn btn-success"/>
				<a class="btn btn-secondary" asp-area="" asp-page="./Index">Cancel</a>

			</div>
		</form>
	</div>
</div>